@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../font/ProximaNova-Bold_gdi.woff') format('woff'),
    url('../font/ProximaNova-Bold_gdi.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2666;
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../font/ProximaNova-Light_gdi.woff') format('woff'),
    url('../font/ProximaNova-Light_gdi.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2666;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../font/ProximaNova-Regular_gdi.woff') format('woff'),
    url('../font/ProximaNova-Regular_gdi.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2666;
}
@font-face {
    font-family: 'ProximaNova-Extrabld';
    src: url('../font/ProximaNova-Extrabld_gdi.woff') format('woff'),
    url('../font/ProximaNova-Extrabld_gdi.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2666;
}
@font-face {
    font-family: 'birdmanregular';
    src: url('../font/BIRDB.woff') format('woff'),
    url('../font/BIRDB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
