* {
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
p,
a,
img,
ul,
li,
form,
footer,
header,
nav,
section,
button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: normal;
    font-weight: normal;
    vertical-align: baseline;
    word-wrap: break-word;
}
:focus {
    outline: 0;
}
footer,
header,
nav,
section {
    display: block;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
ul,
nav {
    list-style: none;
}
input {
    border: 0;
    resize: none;
    font-family: inherit;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
button {
    cursor: pointer;
    font: inherit;
    color: inherit;
    background: none;
}
