.scroll-wrapper {
    height: 100%;
}
.scroll-wrapper > .scroll-content {
    overflow-x: hidden !important;
}
.scrollbar-dynamic > .scroll-element.scroll-y {
    right: 20px;
    top: 70px;
    bottom: 83px;
    height: auto;
    min-height: auto;
    background: rgba(0, 0, 0, 0.1);
    width: 1px;
}
.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_size {
    top: 0;
}
.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_outer {
    right: -2px;
    top: 0;
    opacity: 0.7;
}
.scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar {
    background-color: #000;
    right: 1px;
    width: 3px;
}
.scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar:hover {
    width: 3px;
}
.scrollbar-dynamic > .scroll-element div {
    left: 0;
    top: 0;
    width: 0;
}
.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-bar,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
    width: 7px;
    right: 0;
}
@media screen and (max-width: 768px) {
    .scrollbar-dynamic > .scroll-element.scroll-y {
        right: 10px;
    }
}
