<h4 class="b-modal__title">Таланливый Front-end dev?<br/>Вы попали по адресу!</h4>
<h5 class="b-modal__subtitle">ЕСЛИ ВЫ:</h5>
<ul class="b-modal__list">
    <li class="b-modal__item">
        <p>пишете HTML5 и CSS3 с закрытыми глазами;</p>
    </li>
    <li class="b-modal__item">
        <p>уверенно держитесь рядом с JavaScript (особенно jQuery);</p>
    </li>
    <li class="b-modal__item">
        <p>хотя бы пробовали на вкус angular.js, underscore.js, backbone.js;</p>
    </li>
    <li class="b-modal__item">
        <p>совершенствуете свои навыки как минимум на протяжении одного года;</p>
    </li>
    <li class="b-modal__item">
        <p>умеете дать временную оценку задаче и можете подкрепить слова результатом;</p>
    </li>
    <li class="b-modal__item">
        <p>инициативны и самостоятельны;</p>
    </li>
    <li class="b-modal__item">
        <p>аккуратны и внимательны к мелочам.</p>
    </li>
</ul>
<h5 class="b-modal__subtitle">И К ТОМУ ЖЕ:</h5>
<ul class="b-modal__list">
    <li class="b-modal__item">
        <p>понимаете принципы изолированной верстки (независимыми блоками), знакомы с БЭМ;</p>
    </li>
    <li class="b-modal__item">
        <p>опытны в работе с системой контроля версий (Git);</p>
    </li>
    <li class="b-modal__item">
        <p>и вообще вы классный.</p>
    </li>
</ul>
<h5 class="b-modal__subtitle">ТО МЫ ВАМ ПРЕДЛОЖИМ:</h5>
<ul class="b-modal__list">
     <li class="b-modal__item">
        <p>своевременное высокое вознаграждение за ваш труд;</p>
    </li>
    <li class="b-modal__item">
        <p>гибкий график работы, гибкие методологии разработки;</p>
    </li>
    <li class="b-modal__item">
        <p>постоянный обмен опытом и поддержку дружной неравнодушной команды профессионалов;</p>
    </li>
    <li class="b-modal__item">
        <p>использование самых современных технологий;</p>
    </li>
    <li class="b-modal__item">
        <p>удобное местоположение офиса;</p>
    </li>
    <li class="b-modal__item">
        <p>демократичное руководство.</p>
    </li>
</ul>