<h4 class="b-modal__title">Php-разработчик?<br/>Вы здесь не случайно. Пишите!</h4>
<h5 class="b-modal__subtitle">ЕСЛИ ВЫ:</h5>
<ul class="b-modal__list">
    <li class="b-modal__item">
        <p>хорошо знаете PHP, MySQL, HTML, CSS;</p>
    </li>
    <li class="b-modal__item">
        <p>имеете опыт работы с MVC-фреймворками (работаем с Yii2);</p>
    </li>
    <li class="b-modal__item">
        <p>знаете и имеете опыт работы хотя бы с одной CMS (Bitrix, Joomla, WordPress);</p>
    </li>
    <li class="b-modal__item">
        <p>имеете начальные знания jQuery и JavaScript.</p>
    </li>
</ul>
<h5 class="b-modal__subtitle">И К ТОМУ ЖЕ:</h5>
<ul class="b-modal__list">
    <li class="b-modal__item">
        <p>умеете оценивать трудоемкость задач по времени;</p>
    </li>
    <li class="b-modal__item">
        <p>у вас широкий кругозор в области web-программирования;</p>
    </li>
    <li class="b-modal__item">
        <p>имеете представление о методологиях разработки, жизненном цикле разработки web-приложений;</p>
    </li>
    <li class="b-modal__item">
        <p>вы внимательны, аккуратны и грамотны.</p>
    </li>
</ul>
<h5 class="b-modal__subtitle">ТО МЫ ВАМ ПРЕДЛОЖИМ:</h5>
<ul class="b-modal__list">
    <li class="b-modal__item">
        <p>своевременное высокое вознаграждение за ваш труд;</p>
    </li>
    <li class="b-modal__item">
        <p>гибкий график работы, гибкие методологии разработки;</p>
    </li>
    <li class="b-modal__item">
        <p>постоянный обмен опытом и поддержку дружной неравнодушной команды профессионалов;</p>
    </li>
    <li class="b-modal__item">
        <p>использование самых современных технологий;</p>
    </li>
    <li class="b-modal__item">
        <p>удобное местоположение офиса;</p>
    </li>
    <li class="b-modal__item">
        <p>демократичное руководство.</p>
    </li>
</ul>